<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <context-param>
        <param-name>widgetset</param-name>
        <param-value>at.jku.ce.CoMPArE.CoMPArEWidgetSet</param-value>
    </context-param>
    <context-param>
        <param-name>at.jku.ce.CoMPAreE.resultfolder</param-name>
        <param-value>${catalina.home}/temp/VirtualEnactment/results</param-value>
        <!--<param-value>D:\JKU\ce\virtenact</param-value>-->
    </context-param>
</web-app>